.c-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
  width: 100%;

  @include mqSm {
    display: block;
  }

  &__item {
    height: 45px;
    border-radius: 30px;
    font-size: 10px;
    border: 2px solid $color-blue;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s $ease-easeOut;

    @include mqSm {
      margin: 0 auto;
    }

    &:hover {
      background-color: $color-blue;

      > a {
        color: #fff;
      }
    }
  }

  &--mv {
    position: absolute;
    z-index: 2;
    top: 72%;

    @include mqSm {
      top: 60%;
    }

    &__item {
      border: 2px solid #fff;

      &:hover {
        background-color: #fff;

        > a {
          color: $link-color;
        }
      }

      &:first-child {
        margin-right: 8vw;

        @include mqSm {
          margin: 0 auto 35px;
        }
      }

      > a {
        color: #fff;
      }
    }
  }

  &--purchase {
    &__item {
      &:first-child {
        margin-right: 8vw;

        @include mqSm {
          margin: 0 auto 35px;
        }
      }
    }
  }

  &--contact {
    margin-top: 35px;

    @include mqSm {
      margin-bottom: 70px;
    }

    &__item {
      width: 230px;
    }
  }

  &--wide {
    &__item {
      &:first-child {
        margin-right: 16vw;

        @include mqSm {
          margin: 0 auto 35px;
        }
      }
    }
  }
}
