<!DOCTYPE html>
<html lang="ja">
  <%- include('../components/_head'); %>
  <body id="wrapper">
    <%- include('../components/_header'); %>
    <main class="l-main">
      <div class="p-mv">
        <div class="p-mv__bg" id="js-bg"></div>
        <div class="p-mv__heading">
          <h1 class="p-mv__heading__title">
            <img src="image/img_logo.png" alt="Nature Remo">
          </h1>
          <p class="p-mv__heading__lead">スマホで家電を操作できるスマートリモコン</p>
        </div>
        <div class="c-btn c-btn--mv">
          <div class="c-btn__item c-btn--mv__item">
            <a href=""><span class="u-m1c">Nature&ensp;Remo</span>を購入する</a>
          </div>
          <div class="c-btn__item c-btn--mv__item">
            <a href=""><span class="u-m1c">Nature&ensp;Remo&ensp;mini</span>を購入する</a>
          </div>
        </div>
      </div>
      <div class="p-wrap">
      <section class="c-panel p-control">
        <div class="c-container">
          <h2 class="c-panel__head c-panel__head--top">スマホや音声で<br />家電をコントロール</h2>
          <div class="c-panel__body p-control__body">
            <p class="c-panel__body--txt">
              <span class="u-m1c">Nature&ensp;Remo</span
              >（ネイチャーリモ）は、お使いの家電で手軽にスマートホームを実現するスマートリモコンです。
            </p>
              <p class="c-panel__body--txt">
                外出先からスマートフォンでエアコンを操作したり、スマートスピーカーから音声でテレビや照明を操作することができます。
            </p>
            <div class="p-control__body--image">
              <!-- Slider main container -->
              <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                  <!-- Slides -->
                  <div class="swiper-slide">
                    <img src="image/img_control_01.jpg" alt="" />
                  </div>
                  <div class="swiper-slide">
                    <img src="image/img_control_02.jpg" alt="" />
                  </div>
                  <div class="swiper-slide">
                    <img src="image/img_control_03.jpg" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.c-container -->
      </section>
      <section class="c-panel p-life">
        <div class="c-container">
          <h2 class="c-panel__head">
            子育てやペットとの暮らしを<br />もっと便利に
          </h2>
          <div class="c-panel__body p-life__body">
            <p class="c-panel__body--txt p-life__body--txt">
              ペットの室温管理や、子育て夫婦の時短アイテムとしても。
            </p>
             <p class="c-panel__body--txt p-life__body--txt">
              様々なシーンでお使いいただけます。
            </p>
            <div class="p-life__body--scene ">
              <ul class="p-life-scene">
                <li class="p-life-scene__item js-fadein js-fadein--up">
                  <img src="image/img_life_single.png" alt="" loading="lazy"/><a
                    href=""
                    class="p-life-scene__item--link"
                    >一人暮らしの方に＞</a
                  >
                </li>
                <li class="p-life-scene__item js-fadein js-fadein--up">
                  <img src="image/img_life_owner.png" alt="" loading="lazy"/><a
                    href=""
                    class="p-life-scene__item--link"
                    >ペットオーナーの方に＞</a
                  >
                </li>
                <li class="p-life-scene__item js-fadein js-fadein--up">
                  <img src="image/img_life_family.png" alt="" loading="lazy" /><a
                    href=""
                    class="p-life-scene__item--link"
                    >お子さんのいるご家庭に＞</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /.c-container -->
      </section>
      <section class="c-panel p-remote">
        <div class="c-container">
          <h2 class="c-panel__head u-border-top">
            リモコンをスマホにひとまとめ
          </h2>
          <div class="c-panel__body p-remote__body">
            <p class="c-panel__body--txt">
              <span class="u-m1c">Nature&ensp;Remo</span>は、メーカーや型番・年式などに関係なく、赤外線リモコン付きの家電に対応しています。
          </p>
          <p class="c-panel__body--txt">
              赤外線リモコンのない家電でも、赤外線リモコンコンセントの併用で操作可能になります。
            </p>
            <div class="p-remote__body--image js-fadein js-fadein--up">
              <img src="image/img_remote_main.jpg" alt="" loading="lazy" />
            </div>
            <div class="p-remote__body--card">
              <section class="c-card js-fadein js-fadein--up">
                <div class="c-card-box">
                  <h3 class="c-card__head">外出先から家電<br class="u-brTab">を操作</h3>
                  <div class="c-card__body">
                    <p class="c-card__body--txt">
                      スマホアプリを使って、外出先から家電を操作することができます。
                    </p>
                    <p class="c-card__body--txt">
                      例えば、帰宅前にエアコンをつけておき、自宅を快適な室温にしておくことや、エアコンを消し忘れても外出先から消すことができます。
                    </p>
                  </div>
                </div>
                <div class="c-card-box">
                  <img src="image/img_remote_out.png" alt="" loading="lazy" />
                </div>
              </section>
              <section class="c-card -reverse js-fadein js-fadein--up">
                <div class="c-card-box">
                  <h3 class="c-card__head">声で家電を操作</h3>
                  <div class="c-card__body">
                    <p class="c-card__body--txt">
                      <span class="u-m1c">Google Home</span>（グーグルホーム）、<span class="u-m1c"></span>Amazon
                      Echo</span>（アマゾンエコー）、<span class="u-m1c"></span>Apple
                      HomePod</span>（アップルホームポッド）などのスマートスピーカーと連携させることで、音声で家電を操作できるようになります。
                    </p>
                  </div>
                </div>
                <div class="c-card-box">
                  <img src="image/img_remote_voice.png" alt="" loading="lazy" />
                </div>
              </section>
            </div>
          </div>
        </div>
        <!-- /.c-container -->
      </section>
      <div class="c-btn c-btn--purchase">
        <div class="c-btn__item c-btn--purchase__item">
          <a href=""><span class="u-m1c">Nature&ensp;Remo</span>を購入する</a>
        </div>
        <div class="c-btn__item c-btn--purchase__item">
          <a href=""><span class="u-m1c">Nature&ensp;Remo&ensp;mini</span>を購入する</a>
        </div>
      </div>
      <section class="c-panel p-rule">
        <div class="c-container">
          <h2 class="c-panel__head u-border-top">
            スマートなルールの作成
          </h2>
          <div class="c-panel__body p-rule__body">
            <p class="c-panel__body--txt p-rule__body--txt">
              「曜日・時間」「<span class="u-m1c">GPS</span>」「温度・湿度」「照度」「人感」
            </p>
            <p class="c-panel__body--txt p-rule__body--txt">
              を組み合わせて自由にトリガーを作成できます
            </p>
            <div class="p-rule__body--card">
              <section class="c-card -reverse">
                <div class="c-card-box js-fadein js-fadein--rl">
                  <h3 class="c-card__head"> <span class="u-m1c">GPS</span></h3>
                  <div class="c-card__body">
                    <p class="c-card__body--txt">自宅に近づくとエアコンを</p>
                    <p class="c-card__body--txt">自動でオン</p>
                  </div>
                </div>
                <div class="c-card-box">
                  <img src="image/img_rule_gps.jpg" alt="" class="js-fadein js-fadein--lr" loading="lazy"/>
                </div>
              </section>
              <section class="c-card">
                <div class="c-card-box js-fadein js-fadein--lr">
                  <h3 class="c-card__head">人感センサー</h3>
                  <div class="c-card__body">
                    <p class="c-card__body--txt">
                      人感センサーの反応がない時に
                    </p>
                    <p class="c-card__body--txt">自動で電源をオフ</p>
                  </div>
                </div>
                <div class="c-card-box">
                  <img src="image/img_rule_sensor.jpg" alt="" class="js-fadein js-fadein--rl" loading="lazy"/>
                </div>
              </section>
              <section class="c-card -reverse">
                <div class="c-card-box js-fadein js-fadein--rl">
                  <h3 class="c-card__head">曜日・時間</h3>
                  <div class="c-card__body">
                    <p class="c-card__body--txt">起床時にテレビを</p>
                    <p class="c-card__body--txt">自動でオン</p>
                  </div>
                </div>
                <div class="c-card-box">
                  <img src="image/img_rule_day.jpg" alt="" class=" js-fadein js-fadein--lr" loading="lazy"/>
                </div>
              </section>
              <section class="c-card">
                <div class="c-card-box js-fadein js-fadein--lr">
                  <h3 class="c-card__head">温度・湿度</h3>
                  <div class="c-card__body">
                    <p class="c-card__body--txt">28度以上でエアコンを</p>
                    <p class="c-card__body--txt">自動で電源をオン</p>
                  </div>
                </div>
                <div class="c-card-box">
                  <img src="image/img_rule_temp.jpg" alt="" class=" js-fadein js-fadein--rl" loading="lazy"/>
                </div>
              </section>
            </div>
          </div>
        </div>
        <!-- /.c-container -->
      </section>
      <section class="c-panel p-setting">
        <div class="c-container">
          <h2 class="c-panel__head u-border-top">
            簡単に設定できて、<br />古い家電にも使えます
          </h2>
          <div class="c-panel__body p-setting__body">
            <div class="p-setting__body--card">
              <section class="c-card -reverse">
                <div class="c-card-box">
                  <h3 class="c-card__head">ボタン一押しで<br class="u-brTab">家電を登録</h3>
                  <div class="c-card__body">
                    <p class="c-card__body--txt">
                      エアコン、テレビ、照明は主要メーカーのリモコンがプリセットされていて、電源ボタンひとつで簡単に登録できます。
                    </p>
                  </div>
                </div>
                <div class="c-card-box">
                  <img src="image/img_setting_button.png" alt=""  oading="lazy"/>
                </div>
              </section>
              <section class="c-card">
                <div class="c-card-box">
                  <h3 class="c-card__head">旧式の家電とも<br class="u-brTab">簡単に連携</h3>
                  <div class="c-card__body">
                    <p class="c-card__body--txt">
                      <span class="u-m1c">Nature&ensp;Remo</span>は、メーカーや型番・年式などに関係なく、古いエアコンやテレビなどの旧式の家電にもお使いいただけます。
                    </p>
                  </div>
                </div>
                <div class="c-card-box">
                  <img src="image/img_setting_old.png" alt="" loading="lazy" />
                </div>
              </section>
            </div>
          </div>
        </div>
        <!-- /.c-container -->
      </section>
      <section class="c-panel p-mechanism">
        <div class="c-container">
          <h2 class="c-panel__head u-border-top">
             <span class="u-m1c">Nature&ensp;Remo</span>のしくみ
          </h2>
          <div class="c-panel__body p-mechanism__body">
            <div class="c-container-inner">
              <p class="c-panel__body--txt p-mechanism__body--txt">
                <span class="u-m1c">Remo</span>に搭載された<span class="u-m1c">Wi-Fi</span>と赤外線通信機能により、スマホやスマートスピーカーから<span class="u-m1c">Remo</span>を通じてエアコンやテレビなどの家電を操作することができます。
              </p>
              <div class="p-mechanism__body--image">
                <img src="image/img_mechanism_main.png" alt="" loading="lazy" />
                <p class="c-capture p-mechanism__capture">
                  対応家電：エアコン、テレビ、照明等の赤外線リモコン付きの家電
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- /.c-container -->
      </section>
      <section class="c-panel p-model">
        <div class="c-container">
          <h2 class="c-panel__head">モデル比較</h2>
          <div class="c-panel__body p-model__body">
            <div class="c-container-inner">
              <div class="p-model__body--image">
                <img src="image/img_model_main.jpg" alt="" loading="lazy" />
                <p class="c-capture p-model__capture">※<span class="u-m1c">Wi-Fiは2.4GHz</span>のみ対応</p>
              </div>
            </div>
          </div>
        </div>
        <!-- /.c-container -->
      </section>
      <div class="c-btn c-btn--wide u-mb115">
        <div class="c-btn__item c-btn--wide__item">
          <a href=""><span class="u-m1c">Nature&ensp;Remo</span>を購入する</a>
        </div>
        <div class="c-btn__item c-btn--wide__item">
          <a href=""><span class="u-m1c">Nature&ensp;Remo&ensp;mini</span>を購入する</a>
        </div>
      </div>
      <section class="c-panel p-voice">
        <div class="c-container">
          <h2 class="c-panel__head u-border-top">お客様の声</h2>
          <div class="c-panel__body p-voice__body">
            <div class="c-container-inner">
              <div class="p-voice__body--voices">
                <p>
                  “既存の赤外線対応製品をスマートホーム化できるのがすごく良い。機能がどんどんアップデートされるので、今後もさらに使いやすくなりそうで楽しみです。”<br />—
                  男性
                </p>
                <p>
                  “スマートスピーカーと一緒に使っています。音声操作で家電を操作できるので、洗い物や子供の世話など、手が離せない時に音声で家電をコントロール出来るのは思っていた以上に便利。”<br />—
                  女性
                </p>
                <p>
                  “デザインがシンプルで気に入っています。アプリの操作も直感的でとても使いやすいです。”<br />—
                  女性
                </p>
              </div>
              <div class="p-voice__body--image">
                <img src="image/img_voice_main.png" alt="" class=" js-fadein js-fadein--up" loading="lazy"/>
                <p class="c-capture">
                  ※満足度は、全ての既存ユーザーの皆様に2019年3月に実施したアンケートの結果。<span class="u-m1c">Google
                  Home</span>連携の評価は、2019年3月23日現在の<span class="u-m1c">Rating</span>。
                </p>
              </div>
              <div class="p-voice__body--movie">
                <img src="image/img_movie.png" alt="" />
              </div>
              <div class="c-btn c-btn--wide u-mb115">
                <div class="c-btn__item c-btn--wide__item">
                  <a href=""><span class="u-m1c">Nature&ensp;Remo</span>を購入する</a>
                </div>
                <div class="c-btn__item c-btn--wide__item">
                  <a href=""><span class="u-m1c">Nature&ensp;Remo&ensp;mini</span>を購入する</a>
                </div>
              </div>
            </div>
              <div class="p-voice__body--media">
                <img src="image/img_voice_media.png" alt="" loading="lazy" />
                <p class="c-capture">
                  日米のテレビ、インターネット記事、雑誌等の<a href="">100以上のメディア記事</a>で取り上げられています。
                </p>
              </div>

          </div>
        </div>
        <!-- /.c-container -->
      </section>
      <section class="c-panel p-os">
        <div class="c-container">
          <h2 class="c-panel__head u-border-top c-panel__head--sub">
            対応家電・携帯<span class="u-m1c">OS</span>
          </h2>
          <div class="c-panel__body p-os__body">
            <div class="c-panel__body--txt p-os__body--txt">
              <dl class="p-os-list">
                <dt class="p-os-list__head">家電</dt>
                <dd class="p-os-list__body">
                  エアコン、テレビ、照明、お掃除ロボット等の赤外線リモコン付きの家電※
                </dd>
              </dl>
              <dl class="p-os-list">
                <dt class="p-os-list__head">携帯</dt>
                <dd class="p-os-body"><span class="u-m1c u-medium u-lt05">iOS 10.0</span>以降、<span class="u-m1c u-medium u-lt05">Android 5.0</span>以降の機種</dd>
              </dl>
            </div>
          </div>
        </div>
        <!-- /.c-container -->
      </section>
      <section class="c-panel p-store">
        <div class="c-container">
          <h2 class="c-panel__head u-border-top c-panel__head--sub">
            <span class="u-m1c">Store</span>
          </h2>
          <div class="c-panel__body p-store__body">
            <p class="c-panel__body--txt p-store__body--txt">
              <span class="u-m1c u-medium u-lt05">Nature&ensp;Remo</span>シリーズは以下の販売店でもお求めいただけます（全国で<span class="u-m1c u-medium">600</span>店舗以上でお取り扱い頂いております）。
            </p>
            <div class="p-store__body--image">
              <img src="image/img_store_main.png" alt="" loading="lazy" />
            </div>
          </div>
        </div>
        <!-- /.c-container -->
      </section>
      <section class="c-panel p-api">
        <div class="c-container">
          <h2 class="c-panel__head u-border-top c-panel__head--sub">
             <span class="u-m1c">Nature Remo API</span>
          </h2>
          <div class="c-panel__body p-api__body">
            <p class="c-panel__body--txt p-api__body--txt">
              <span class="u-m1c u-medium u-lt05">API</span>も公開しておりますので（個人利用は無償で利用可。サービス連携を目的とした利用は個別にご相談ください）
            </p>
            <p class="p-api__body--link">
              <span class="u-m1c u-medium u-lt05">Nature Remo API:
              <a href=""> https://developer.nature.global</a>
              </span>
            </p>
          </div>
        </div>
        <!-- /.c-container -->
      </section>
      <section class="c-panel p-contact">
        <div class="c-container">
          <h2 class="c-panel__head u-border-top c-panel__head--sub">
            お問い合わせ
          </h2>
          <div class="c-panel__body p-contact__body">
            <p class="c-panel__body--txt p-contact__body--txt">
              弊社製品と連携したサービス提供に興味がございましたら、<span class="u-m1c u-medium u-lt05">info@nature.global</span>までご連絡ください。
            </p>
            <div class="c-btn c-btn--contact">
              <div class="c-btn__item c-btn--contact__item">
                <a href="">お問い合わせ（メーラーが開きます）</a>
              </div>
            </div>
          </div>
        </div>
        <!-- /.c-container -->
      </section>

      </div>
    </main>
    <!-- /.l-main -->
    <div id="c-pagetop">
      <a href="#">↑</a>
  </div>
    <%- include('../components/_footer'); %>
  </body>
</html>
