<footer class="l-footer">
  <div class="c-container">
    <div class="l-footer__container">
      <div class="l-footer__left">
        <p class="l-footer__committee">上野文化の杜新構想実行委員会</p>
        <ul class="l-footer__museums">
          <li class="l-footer__museum"><a href="">東京国立博物館</a></li>
          <li class="l-footer__museum"><a href="">国立科学博物館</a></li>
          <li class="l-footer__museum"><a href="">国立西洋美術館</a></li>
          <li class="l-footer__museum"><a href="">東京都美術館</a></li>
          <li class="l-footer__museum"><a href="">東京文化会館</a></li>
          <li class="l-footer__museum"><a href="">恩賜上野動物園</a></li>
          <li class="l-footer__museum"><a href="">上野の森美術館</a></li>
          <li class="l-footer__museum"><a href="">東京藝術大学</a></li>
          <li class="l-footer__museum"><a href="">台東区</a></li>
          <li class="l-footer__museum"><a href="">上野観光連盟</a></li>
          <li class="l-footer__museum">
            <a href="">東日本旅客鉄道株式会社</a>
          </li>
          <li class="l-footer__museum"><a href="">京成電鉄株式会社</a></li>
          <li class="l-footer__museum"><a href="">東京地下鉄株式会社</a></li>
          <li class="l-footer__museum"><a href="">学校法人上野学園</a></li>
        </ul>
      </div>
      <div class="l-footer__right">
        <ul class="l-footer__company u-font-heebo">
          <li class="l-footer__privacy"><a href="">Privacy Policy</a></li>
          <li class="l-footer__copy">
            <small>Copyright &copy;Tokyo-Ueno Wonderer</small>
          </li>
          <li class="l-footer__logo">
            <a href=""
              ><img src="image/img_logo.svg" alt="Tokyo Ueno Wonderer"
            /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- /.l-footer -->
