<footer class="l-footer">
  <div class="c-container">
    <ul class="l-footer-list">
      <li class="l-footer-list__item">
        <div class="l-footer-list__item--head u-m1c u-lt05">INFORMATION</div>
        <ul class="l-footer-list__item--body l-footer-list--sub">
          <li class="l-footer-list--sub__item"><a href="">メディア掲載</a></li>
          <li class="l-footer-list--sub__item"><a href="">ニュース</a></li>
          <li class="l-footer-list--sub__item"><a href="">ブログ</a></li>
        </ul>
      </li>
      <li class="l-footer-list__item">
        <div class="l-footer-list__item--head u-m1c u-lt05">ABOUT US</div>
        <ul class="l-footer-list__item--body l-footer-list--sub">
          <li class="l-footer-list--sub__item u-m1c"><a href="">Value</a></li>
          <li class="l-footer-list--sub__item"><a href="">チーム</a></li>
          <li class="l-footer-list--sub__item"><a href="">会社概要</a></li>
          <li class="l-footer-list--sub__item"><a href="">採用情報</a></li>
        </ul>
      </li>
      <li class="l-footer-list__item">
        <div class="l-footer-list__item--head u-m1c u-lt05">SOCIAL</div>
        <ul class="l-footer-list__item--body l-footer-list--sub">
          <li class="l-footer-list--sub__item">
            <a href="">ユーザーコミュニティ</a>
          </li>
          <li class="l-footer-list--sub__item u-m1c"><a href="">TWITTER</a></li>
          <li class="l-footer-list--sub__item u-m1c">
            <a href="">INSTAGRAM</a>
          </li>
          <li class="l-footer-list--sub__item u-m1c">
            <a href="">PRESS KIT</a>
          </li>
          <li class="l-footer-list--sub__item u-m1c">
            <a href="">LOGO GUIDELINE</a>
          </li>
        </ul>
      </li>
      <li class="l-footer-list__item">
        <div class="l-footer-list__item--head u-m1c u-lt05">NEWS LETTER</div>
        <ul class="l-footer-list__item--body l-footer-list--sub">
          <li class="l-footer-list--sub__item">
            <span class="u-m1c">Nature Remo</span>の最新情報をお知らせします。
          </li>
        </ul>
        <div class="l-footer-list__item--signin l-footer-list--signin">
          <div class="l-footer-list--signin__input">
            <input type="text" placeholder="Email Address" class="u-m1c" />
          </div>
          <div class="l-footer-list--signin__btn">
            <input type="button" value="SIGN UP" class="u-m1c" />
          </div>
        </div>
      </li>
    </ul>
  </div>
  <!-- /.c-container -->
</footer>
<!-- /.l-footer -->
