<div class="l-gnav">
  <div class="l-gnav__inner">
    <div class="l-gnav__left">
      <a href="" class="l-gnav__head"
        ><img src="image/img_logo.svg" alt=""
      /></a>
      <ul class="l-gnav__body">
        <li class="l-gnav__copy">Copyright &copy;Tokyo-Ueno Wonderer</li>
        <li class="l-gnav__privacy"><a href="">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="l-gnav__right">
      <nav class="l-gnav__nav">
        <ul class="l-gnav__box">
          <li class="l-gnav__item"><a href="">Top</a></li>
          <li class="l-gnav__item"><a href="">About us</a></li>
          <li class="l-gnav__item"><a href="">Contact</a></li>
        </ul>
      </nav>
      <ul class="l-gnav__links">
        <li class="l-gnav__link">
          <a href=""><i class="fab fa-instagram"></i></a>
        </li>
        <li class="l-gnav__link">
          <a href=""><i class="fab fa-twitter"></i></a>
        </li>
        <li class="l-gnav__link">
          <a href=""><i class="fab fa-facebook-f"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>
