<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    Landing Page - リマケ Ad &mdash; Nature
  </title>
  <link
    href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;500;700;900&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.0/css/swiper.min.css"
  />
  <link rel="stylesheet" href="./css/style.css" />
  <link rel="preload" href="./image/img_mv.jpg" as="image" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.0/js/swiper.min.js"></script>
  <script src="./js/index.js" defer></script>
</head>
