<header class="l-header">
  <a href="" class="l-header-logo"
    ><img src="image/img_nature.png" alt="" class="l-header-logo__img"
  /></a>
  <nav class="l-header-nav" id="js-headNav">
    <ul class="l-nav" id="js-nav">
      <li class="l-nav__item">
        <a href="" class="l-nav__item__link"
          ><span class="u-m1c u-show-pc">Nature Remo</span
          ><span class="u-m1c u-show-md u-black">NATURE REMO</span></a
        >
      </li>
      <li class="l-nav__item">
        <a href="" class="l-nav__item__link"
          ><span class="u-m1c u-show-pc">Nature Remo E</span
          ><span class="u-m1c u-show-md u-black">NATURE REMO E</span></a
        >
      </li>
      <li class="l-nav__item">
        <a href="" class="l-nav__item__link">ミッション</a>
      </li>
      <li class="l-nav__item">
        <a href="" class="l-nav__item__link">ブログ</a>
      </li>
      <li class="l-nav__item">
        <a href="" class="l-nav__item__link">お知らせ</a>
      </li>
      <li class="l-nav__item">
        <a href="" class="l-nav__item__link">ヘルプセンター</a>
      </li>
      <li class="l-nav__item">
        <a href="" class="l-nav__item__link"
          ><span class="u-m1c u-show-pc">English</span
          ><span class="u-m1c u-show-md u-black">ENGLISH</span></a
        >
      </li>
    </ul>
  </nav>
  <div class="l-header-toggle" id="js-toggle">
    <span class="l-header-toggle__item l-header-toggle__item--top"></span>
    <span class="l-header-toggle__item l-header-toggle__item--center"></span>
    <span class="l-header-toggle__item l-header-toggle__item--bottom"></span>
  </div>
</header>
<!-- /.l-header -->
