<header class="l-header u-font-heebo">
  <div class="l-header__inner">
    <ul class="l-header__lang">
      <li><a href="">JP</a></li>
      <li><a href="">EN</a></li>
    </ul>
    <!-- <span class="l-header__menu">MENU</span> -->
  </div>
  <div class="cp_arrows">
    <p class="link cp_arrow">
      <svg
        class="arrow_icon"
        xmlns="http://www.w3.org/2000/svg"
        width="62"
        height="62"
        viewbox="-2 -2 66 66"
        id="js-btn"
      >
        <g
          fill="none"
          stroke="#1a1a1a"
          stroke-width="1.5"
          stroke-linejoin="round"
          stroke-miterlimit="10"
        >
          <circle class="arrow_icon_circle" cx="31" cy="31" r="31.5"></circle>
        </g>
      </svg>
    </p>
  </div>
</header>
<!-- /.l-header -->
