.p-hashtags {
  height: auto;

  &__label {
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
  }

  &-left {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 50px;

    &__head {
      display: block;
    }

    &__title {
      width: 10rem;
      padding-bottom: 10px;
    }

    &__copy {
      font-size: 1rem;
      transform: scale(0.6);
      transform-origin: 0 0;
    }

    &__tags {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50%;
      transform: translate(-50%, -50%);
    }

    &__links {
      display: flex;
      font-size: 1.6rem;
      position: absolute;
      bottom: 50px;
    }

    &__link {
      width: 26px;
      height: 26px;

      > a {
        background-color: $font-color;
        border-radius: 50%;

        color: #fff;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s all ease;

        &:hover {
          background-color: #fff;
          color: $font-color;
        }
      }

      & ~ & {
        margin-left: 0.5rem;
      }
    }
  }
}
