.p-mv {
  @include mqSm {
    position: relative;
    margin-bottom: 370px;
  }

  &-left {
    background-color: rgb(242, 240, 237);
    position: relative;

    @include mqSm {
      order: 2;
      height: 50vh;
    }
  }

  &-right {
    display: flex;
    justify-content: space-between;
    padding: 0 70px 80px;
    align-items: flex-end;

    @include mqSm {
      order: 1;
      height: 50vh;
      padding: 30px 35px;
    }

    &__head,
    &__lead {
      width: 50%;
    }

    &__head {
      @include mqSm {
        width: 65%;
      }
    }

    &__lead {
      font-size: 1.2rem;
      line-height: 1.9;

      @include mqSm {
        text-align: center !important;
        writing-mode: horizontal-tb !important;
        position: absolute;
        width: 80%;
        bottom: -250px;
        left: 50%;
        transform: translateX(-50%);
        font-family: $font-family-otf;
        font-size: 1.3rem;
      }
    }

    &__title {
      margin-bottom: 30px;

      @include mqSm {
        margin-bottom: 10px;
      }
    }
  }
}
