.p-mv {
  @include mqMd {
    position: relative;
    margin-bottom: 470px;
  }
  @include mqSm {
    position: relative;
    margin-bottom: 370px;
  }

  &-left {
    background-color: rgb(242, 240, 237);
    position: relative;

    @include mqMd {
      order: 2;
      height: 50vh;
    }
  }

  &-right {
    display: flex;
    justify-content: space-between;
    padding: 0 70px 80px;
    align-items: flex-end;

    @include mqMd {
      order: 1;
      height: 50vh;
      padding: 30px 35px;
    }

    &__head,
    &__lead {
      width: 50%;
    }

    &__head {
      @include mqMd {
        width: 65%;
      }
    }

    &__lead {
      font-size: 1.2rem;
      line-height: 1.9;

      @include mqMd {
        font-size: 1.6rem;
        text-align: center !important;
        writing-mode: horizontal-tb !important;
        position: absolute;
        width: 80%;
        bottom: -350px;
        left: 50%;
        transform: translateX(-50%);
        font-family: $font-family-otf;
      }

      @include mqSm {
        font-size: 1.3rem;
        bottom: -270px;
      }
    }

    &__title {
      margin-bottom: 30px;
      position: relative;
      overflow: hidden;
      display: none;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        top: 0;
        left: 0;
        transition: transform 0.8s ease-out, opacity 0.3s ease;
        opacity: 0;
        transform: translateX(0);
      }

      &.is-open {
        &::after {
          opacity: 1;
          transform: translateX(100%);
        }
      }

      @include mqMd {
        margin-bottom: 10px;
      }
    }

    &__copy {
      position: relative;
      display: none;
      overflow: hidden;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        top: 0;
        left: 0;
        transition: transform 0.8s ease-out;
        opacity: 0;
        transform: translateX(0);
      }

      &.is-open {
        &::after {
          opacity: 1;
          transform: translateX(100%);
        }
      }
    }
  }
}
