.p-outline {
  position: relative;
  margin-top: 130px;
  height: auto;

  @include mqSm {
    margin-top: 60px;
  }

  &__label {
    position: absolute;
    top: 95px;
    left: 50px;

    @include mqSm {
      left: 15px;
      top: 50px;
    }
  }

  &__container {
    width: 70%;
    margin-left: auto;
    margin-right: 0;
    font-family: $font-family-otf;
    padding-top: 95px;
    border-top: 5px solid $font-color;

    @include mqSm {
      width: 85%;
      border-top-width: 4px;
      padding-top: 50px;
    }
  }

  &__head {
    font-size: 6rem;
    line-height: 1.2;

    @include mqSm {
      font-size: 4rem;
    }
  }

  &__body {
    font-size: 1.8rem;
    line-height: 2;
    margin-right: 60px;

    @include mqSm {
      font-size: 1.2rem;
      margin-right: 20px;
    }

    > a {
      color: #bebebe;
    }
  }
}
