.p-slide {
  &__item {
    width: 100%;
    height: 100%;
    display: block;
    padding: 5%;
    position: relative;

    &:hover {
      .p-slide__image::before {
        transform: scale(1.05);
      }
    }
  }

  &__image {
    width: 520px;
    height: 350px;
    overflow: hidden;
    // margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include mqSm {
      width: 100%;
      height: 100%;
    }

    &:before {
      content: "";
      display: block;
      padding-top: 75%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      transition: transform 0.3s ease;

      @include mqSm {
        padding: 100%;
      }
    }

    &--01 {
      &::before {
        background-image: url(../image/img_article_06.jpg);
      }
    }
    &--02 {
      &::before {
        background-image: url(../image/img_article_13.jpg);
      }
    }
    &--03 {
      &::before {
        background-image: url(../image/img_article_11.jpg);
      }
    }

    // > img {
    //   object-fit: cover;
    //   height: 100%;
    //   width: 100%;
    // }
  }

  &__text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    width: 90%;
  }

  &__label {
    color: #999;
  }

  &__head {
    font-size: 2rem;
    font-family: $font-family-otf;
    position: relative;
    overflow: hidden;
    padding-top: 15px;
  }

  &__ttl {
    color: #999;

    &--cover {
      position: absolute;
      left: 0;
      top: 0em;
      transform: scale(0);
      transition: 0.5s all ease;
    }
  }

  &__body {
    font-size: 1.2rem;
    padding-top: 10px;

    > li {
      display: inline;
      color: #999;

      &::before {
        content: "#";
      }
    }
  }
}

.swiper-pagination {
  width: 90%;
  top: 5%;
  right: 5%;
  text-align: right;
}

.swiper-pagination-bullet {
  margin-left: 0.5em;
  background: #fff;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: rgb(231, 72, 50);
}
