.p-slide {
  &__item {
    width: 100%;
    height: 100%;
    display: block;
    padding: 5%;
    position: relative;

    &:hover {
      .p-slide__image::before {
        transform: scale(1.05);
      }
    }
  }

  &__image {
    width: 520px;
    height: 350px;
    overflow: hidden;
    // margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include mqMd {
      width: 100%;
      height: 100%;
    }

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      transition: transform 0.3s ease;

      @include mqMd {
        padding-top: 100%;
      }
    }

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: #f2f0ed;
      position: absolute;
      transition: transform 1s ease;
      transform: translateX(0);
      top: 0;
      left: 0;
    }

    &.is-open {
      &::after {
        transform: translateX(100%);
      }
    }

    &--01 {
      &::before {
        background-image: url(../image/img_thumb_01.jpg);
      }
    }
    &--02 {
      &::before {
        background-image: url(../image/img_thumb_02.jpg);
      }
    }
    &--03 {
      &::before {
        background-image: url(../image/img_thumb_03.jpg);
      }
    }
    &--04 {
      &::before {
        background-image: url(../image/img_thumb_04.jpg);
      }
    }
    &--05 {
      &::before {
        background-image: url(../image/img_thumb_05.jpg);
      }
    }
    &--06 {
      &::before {
        background-image: url(../image/img_thumb_06.jpg);
      }
    }
  }

  &__text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    width: 90%;

    @include mqMd {
      bottom: 15%;
    }
  }

  &__label {
    color: #999;
    transform: translateY(10px);
    opacity: 0;
    transition: 1s all ease;
    transition-delay: 1s;

    @include mqMd {
      color: #fff;
    }
  }

  &__head {
    font-size: 2rem;
    font-family: $font-family-otf;
    position: relative;
    overflow: hidden;
    margin-top: 15px;
  }

  &__ttl {
    color: #000;
    transition: 1s all ease;
    transition-delay: 1s;
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
    display: inline-block;

    @include mqMd {
      color: #fff;
    }

    &--cover {
      position: absolute;
      left: 0;
      top: 0em;
      width: 100%;
      height: 100%;
      z-index: -1;
      color: #999;
      transition: 1.2s all ease;
      transition-delay: 1s;
      opacity: 0;
    }
  }

  &__body {
    font-size: 1.2rem;
    padding-top: 10px;
    transform: translateY(10px);
    opacity: 0;
    transition: 1s all ease;
    transition-delay: 1s;

    @include mqMd {
      font-size: 1rem;
    }

    > li {
      display: inline;
      color: #999;

      @include mqMd {
        color: #fff;
      }

      &::before {
        content: "#";
      }
    }
  }
}

.swiper-pagination {
  width: 90%;
  top: 5%;
  right: 5%;
  text-align: right;

  @include mqMd {
    bottom: 5%;
    top: unset;
  }
}

.swiper-pagination-bullet {
  margin-left: 0.5em;
  background: #fff;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: rgb(231, 72, 50);
}

.swiper-slide-active {
  .p-slide__label {
    transform: translateY(0);
    opacity: 1;
  }
  .p-slide__ttl {
    -webkit-clip-path: inset(0);
    clip-path: inset(0);
  }
  .p-slide__ttl--cover {
    opacity: 1;
  }
  .p-slide__body {
    transform: translateY(0);
    opacity: 1;
  }
}
