.u-medium {
  font-weight: 500;
}

.u-strong {
  font-weight: 700;
}

.u-black {
  font-weight: 900;
}

.u-lt05 {
  letter-spacing: 0.05em;
}

.u-font-heebo {
  font-family: $font-family-heebo;
  font-weight: 500;
}
