.u-m1c {
  font-family: $font-family-m1c;
}

.u-medium {
  font-weight: 500;
}

.u-strong {
  font-weight: 700;
}

.u-black {
  font-weight: 900;
}

.u-lt05 {
  letter-spacing: 0.05em;
}
