.u-show-pc {
  display: block !important;

  @include mqMd {
    display: none !important;
  }
}

.u-show-md {
  display: none !important;

  @include mqMd {
    display: block !important;
  }
}
.u-show-sm {
  display: none !important;

  @include mqSm {
    display: block !important;
  }
}
