@charset 'UTF-8';

.u-width5 {
  width: 5%!important;
}

.u-width10 {
  width: 10%!important;
}

.u-width15 {
  width: 15%!important;
}

.u-width20 {
  width: 20%!important;
}

.u-width25 {
  width: 25%!important;
}

.u-width30 {
  width: 30%!important;
}

.u-width35 {
  width: 35%!important;
}

.u-width33 {
  width: 33%!important;
}

.u-width40 {
  width: 40%!important;
}

.u-width45 {
  width: 45%!important;
}

.u-width50 {
  width: 50%!important;
}

.u-width55 {
  width: 55%!important;
}

.u-width60 {
  width: 60%!important;
}

.u-width65 {
  width: 65%!important;
}

.u-width70 {
  width: 70%!important;
}

.u-width75 {
  width: 75%!important;
}

.u-width80 {
  width: 80%!important;
}

.u-width85 {
  width: 85%!important;
}

.u-width90 {
  width: 90%!important;
}

.u-width95 {
  width: 95%!important;
}

.u-width100 {
  width: 100%!important;
}