.l-footer {
  margin-top: -70px;
  margin-bottom: 95px;
  position: relative;

  @include mqSm {
    margin-top: 50px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include mqSm {
      display: block;
    }
  }

  &__left {
    font-size: 1.4rem;

    @include mqSm {
      font-size: 1rem;
    }
  }

  &__museums {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__museum {
    display: inline-block;
    position: relative;
    line-height: 1;

    & ~ & {
      margin-top: 1em;

      @include mqSm {
        margin-top: 2em;
      }
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #000;
      transform: scaleX(0);
      transform-origin: right center;
      transition: transform 300ms;
    }

    &::after {
      font-family: "Font Awesome 5 Free";
      content: "\f24d";
      font-size: 1rem;
      margin-left: 0.3rem;
    }

    &:hover {
      &::before {
        transform: scaleX(1);
        transform-origin: left center;
      }
    }
  }

  &__company {
    display: flex;
    align-items: flex-end;
  }

  &__privacy {
    font-weight: 500;
    border-bottom: 1px solid $font-color;
  }

  &__copy {
    font-weight: 500;
    margin-left: 4rem;
  }

  &__logo {
    margin-left: 2rem;
    width: 12rem;
  }

  &__bg {
    width: 100%;
    height: 240px;
    z-index: -1;
    position: absolute;
    bottom: 300px;
    background: url(../image/img_footer_bg.png) repeat-x;
    background-position: 0 0;
    -webkit-animation: bgroop 30s linear infinite;
    animation: bgroop 30s linear infinite;
  }

  &__bgtext {
    position: absolute;
    transform: rotate(270deg);
    bottom: 100px;
    left: 45%;
    color: #f7f7f7;
  }

  &__bghead {
    font-size: 2.9rem;
    margin-bottom: 10px;
  }
}

@-webkit-keyframes bgroop {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1956px 0;
  }
}
@keyframes bgroop {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1956px 0;
  }
}
